:root {
    --content_width: 70%
}

body {
    margin: 0;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('./fonts/OpenSans-Light.ttf')
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf')    
}

.heading_div {
    font-size: 1.15rem;
    color: white;
    text-align: center;
    background-color: #172d4f;
    font-family: 'Montserrat';
}

.top_heading_div {
    font-size: 1.15rem;
    color: white;
    background-color: #172d4f;
    font-family: 'Montserrat';
    text-align: center
}

.dark_mode_btn {
    height: 1.05rem;
    width: 2.5rem;
    border: 1.5px solid #000;
    border-radius: 8px;
    background-color: #3a3a3a;
    margin-left: 0.5rem;
    display: inline-block;
}

.dark_mode_btn:hover {
    cursor: pointer
}

.dark_mode_inner {
    margin-left: -0.7rem;
    margin-right: 0.5rem;
    margin-top: -0.04rem;
    height: 0.65rem;
    width: 0.65rem;
    border-radius: 50%;
    border: 1.5px solid #000;
    background-color: #a0a0a0;
    display: inline-block;
}

.navbar_link {
    padding: 0.15rem 0.5rem;
    cursor: pointer
}

.navbar_link:hover {
    background-color: #25477a;
    border-radius: 5px;
    transition: 0.3s;
}

.v_spacer {
    height: 0.5rem;
    background-color: white
}

.display_none {
    display: none
}

.content_border {
    background-color: white
}

.content {
    background-color: #f4f4f4;
    font-family: 'Montserrat';
    width: var(--content_width);
    margin: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    line-height: 150%
}

.heading_18 {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    display: block
}

.heading_16 {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    display: block
}

.list_item {
    font-size: 1.1rem;
    padding-bottom: 0.25rem;
    margin-left: 1rem
}

.github_link {
    color: #0000ff;
    text-decoration: none
}

.github_link:hover {
    cursor: pointer;
}